@import "variables.scss";
@import "mixin";
@import "typography";

@import "external/flexbox-grid";
@import "external/animate";

@import "components/hero";
@import "components/about-me";

:root {
    --animate-delay: 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: $color-dark;
}
* {
    @include noHover;
}